@import "tailwindcss";

* {
  font-family: "Geist";
  color: white;
}

.secondary {
  color: #a1a1a1;
}

button {
  color: black;
}

body {
  background-color: black;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

#file-label {
  color: black;
  padding: 8px;
}

#file {
  position: absolute;
  visibility: hidden;
}

.upload-button {
  color: black;
}

table {
  border: 1px solid white;
}

tr > td,
tr > th {
  border: 1px solid white;
  padding: 4px;
}

.dinkey {
  background-color: #08b35b;
  color: white;
}

.button-secondary {
  color: white;
  border: 1px solid #ababab;
}

.num {
  height: 54px;
  width: 54px;
  border: 2px solid white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.num:hover {
  background-color: #08b35b;
  opacity: 0.9;
}

.num.selected {
  background-color: #08b35b;
}

.selected {
  height: 54px;
  width: 54px;
  border: 2px solid white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  background-color: #08b35b;
}

.grouped {
  background-color: #0baf5a;
}

.help-button {
  color: black;
  transition: all ease-in-out 0.2s;
}

.secondary-font {
  color: black;
}

.primary {
  font-family: "Poppins";
}

.tooltiptext {
  opacity: 0;
  transition: all ease-in-out 0.3s;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
}
